.App {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-wrap: wrap;
}
.target{
  width: 300px;
  height: 300px;
}
.targetImg{
  max-width: 100%;
  max-height: 100%;
  /* transform: rotate3d(.4, .1, -.1, 60deg); */

}
.up{
  transform: rotate3d(.4, .1, -.1, 60deg);
  animation-name: up;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
.down{
  animation-name: down;
  animation-fill-mode: forwards;
  animation-delay: 200ms;
  animation-duration: 700ms;
  animation-timing-function: ease-in;
}

@keyframes up{
  to{
    transform: rotate3d(0, 0, 0, 0);
  }
}
@keyframes down{
  to{
    transform: rotate3d(.4, .1, -.1, 60deg);
  }
}